[gerrit]
    basePath = git
    # serverId is fixed here on purpose: we overwrite gerrit.config on every boot,
    # so we cannot let `gerrit init` generate a random one (it is baked into NoteDb
    # refs and must stay stable for the life of the site).
    serverId = 153abd74-015d-4e7a-9c70-7ed598093eef
    canonicalWebUrl = https://gerrit.patinanetwork.org/

[index]
    type = lucene

[auth]
    type = HTTP
    # OAuth cant be used for git over http, so users auth with gerrit-generated
    # http password via `Settings -> HTTP Credentials`
    gitBasicAuthPolicy = HTTP

[github]
    # github.jar plugin settings.
    url = https://github.com
    apiUrl = https://api.github.com
    clientId = Ov23liu58eKV3esLN9Wd

[httpd]
    # Behind Traefik, which terminates TLS. proxy-http => trust X-Forwarded-*.
    listenUrl = proxy-http://*:8080/

[sshd]
    # git over ssh is disabled
    listenAddress = off

[cache]
    directory = cache

[container]
    user = gerrit
    # Avoid legacy Java auto-detection logic in gerrit.sh.
    javaHome = /usr
    heapLimit = 1200m

[sendemail]
    # TODO: setup SMTP
    enable = false

[user]
    name = Gerrit Code Review
    email = gerrit@patinanetwork.org
